@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --body-bg: #0b0c11;
  --primary: #87ceeb;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--body-bg);
}

a {
  text-decoration: none;
}

button {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--body-bg);
  border: 1px solid var(--primary);
  color: var(--white);
  padding: 12px 16px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary);
  border: 1px solid var(--white);
  color: var(--body-bg);
  transition: 1s;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav p {
  color: var(--primary);
  cursor: pointer;
}

.nav p:hover {
  border-bottom: 1px solid var(--white);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}
